body {
  /* Form Width */
  --myForm-width: 768px;

  /* SideBar Width */
  --sideBar-width : 72px;
  --subSideBar-width: 216px;

  /* Preview width */
  --preview-normal-width: 400px;
  --preview-hidden-width: 50px;

  /* Design Panel width */
  --design-panel-normal-width: 300px;
  --design-panel-hidden-width: 0px;

  /* Colors */
  --main-background: #FFFFFF;
  --primary-background: #EFEFEF;
  --sideBar-background: #000000;
  --card-background: #F4F2F2;

  /* Button End */

  --paper-border: #D0D0D0;

  --font-black: #000000;
  --font-lightRed: var(--color-lightRed);
  --font-grey: #A7A7A7;
  --font-darkGrey: #707070;
  --font-white: #FFFFFF;
  --font-sideBar: #FFFFFF;

  /* transform time */
  --short-transform: 0.2s;
  --long-transform: 0.5s;

  /* alignment */
  --alignmentSSL: 108px;
  --alignmentSL: 72px;
  --alignmentXXXL: 36px;
  --alignmentXXL: 32px;
  --alignmentXL: 28px;
  --alignmentL: 24px;
  --alignmentM: 16px;
  --alignmentS: 8px;
  --alignmentXS: 4px;
  --alignmentXXS: 2px;

  /* Fonts */
  --fontSizeBase: 14px;

  --fontSizeXXXL: 36px;
  --fontSizeXXL: 30px;
  --fontSizeXL: 26px;
  --fontSizeL: 24px;
  --fontSizeXXXM: 22px;
  --fontSizeXXM: 20px;
  --fontSizeXM: 18px;
  --fontSizeM: 16px;
  --fontSizeS: 14px;
  --fontSizeXS: 12px;
  --fontSizeXXS: 10px;

  /* Font weight */
  --fontLight: 200;
  --fontNormal: 400;
  --fontBold: 700;
}
